@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    font-family: 'Poppins';
    border: none;
    border-radius: 12px;
    overflow: hidden;
}

.react-calendar__tile--active {
    background-color: rgb(99 102 241) !important;
}